# Dépendances (le serveur de déploiement les installera lui-même)
node_modules/

# Fichiers de configuration sensibles
.env
config.json

# Base de données locale (très important pour SQLite)
*.sqlite
*.sqlite3
*.db

# Fichiers systèmes
.DS_Store
thumbs.db

# Logs d'erreurs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
